client/node_modules/
client/dist/
client/yarn.lock

gem/Gemfile.lock
gem/.bundle/
gem/log/*.log
gem/pkg/
gem/test/dummy/db/*.sqlite3
gem/test/dummy/db/*.sqlite3-journal
gem/test/dummy/db/*.sqlite3-*
gem/test/dummy/log/*.log
gem/test/dummy/storage/
gem/test/dummy/tmp/
gem/test/dummy/.byebug_history
gem/test/dummy/node_modules
gem/test/dummy/public/packs
gem/test/dummy/public/assets
gem/test/dummy/config/credentials

js/dist
js/node_modules
js/yarn*.log